{% from "govuk/components/input/macro.njk" import govukInput as source %}
{%- macro govukInput(params) -%}
<pre>Decorated compomponent params: {{ params }}</pre>
  {{- source(decorate(params, params.decorate)) -}}
{%- endmacro %}
